.fleet-dashboard-page .button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;

  a {
    text-align: center;
    margin-top: 10px;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: #003f7a;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  a:not(.active) {
    background-color: #f1f4f9;
    border: 1px solid #d6dde5;
    color: #003f7a;
  }
  a:not(.active):hover {
    background-color: #dddddd;
    border: 1px solid #d6dde5;
    color: #003f7a;
  }
}
